[Desktop Entry]
Name=A Text Editor
Comment=A Text Editor
X-GNOME-FullName=A Text Editor
Exec=gate %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=ate
Categories=Utility;Development;TextEditor
StartupWMClass=ate
StartupNotify=true
